* {
    box-sizing: border-box;
    
}
.animate{
    font-size: 1.7em;
    font-weight: bold;
    color:blue;
 }
    
.navbar {
    position:relative;
    width: 100%;
    height: 60px;
    background-color: blue;
    color: white;
    margin: 10px auto;
    
}
.navbar:after {
    content: "";
    display: table;
    clear: both;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav-links li {
    float: left;
    margin: 5px 10px;
    padding: 5px;
}
.nav-links li:hover{
    
    background-color: maroon;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    padding: 10px 15px;
    
}

.logo {
    float: right;
    font-size: 1.5em;
    padding: 15px 20px;
    color: skyblue;
    
} 

@keyframes  animate{
    0%{
        left:0%;
    }
    75%{
        left:75%;
    }
    100%{
        left:0%;
    }
}
.animate{
    position:relative;
    animation: animate 10s linear infinite;
}

.barMenu{
    display:none;
    float: left;
    margin: 8px 10px;
    font-size: 1em;
    cursor: pointer;
}


.header {
    
    background-color: lightgray;
    
    text-align: center;
    padding: 40px;
    font-size: 2em;
}
.col{
    float: left;
    width: 100%;
    padding: 15px;
    text-align: left;
    font-size: 1.5em;
    background-color: white;
    border: 1px solid white;
    min-height: 400px;
    text-transform: lowercase;
}

.col h1 {
    text-align: center;
    background-color: hotpink;
    padding: 20px;
    text-transform: uppercase;
} 

.col-2 {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: left;
    font-size: 1.5em;
    background-color: white;
    border: 1px solid white;
    min-height: 200px;
    text-transform: lowercase;
}
.col-2 h2 {
    text-align: center;
    background-color: hotpink;
    padding: 20px;
    text-transform: uppercase;
}
.col-3{
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: left;
    font-size: 1.5em;
    background-color: white;
    border: 1px solid white;
    min-height: 400px;
    text-transform: lowercase;
}

.col-3 h2 {
    text-align: center;
    background-color: hotpink;
    padding: 20px;
    text-transform: uppercase;
} 
.col-4 {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: left;
    font-size: 0.8em;
    background-color: white;
    border: 1px solid white;
    min-height: 400px;
    text-transform: lowercase;

}
.col-4 h2 {
    text-align: center;
    background-color: hotpink;
    padding: 10px;
    text-transform: uppercase;
}


.container{
    background-color: lightblue;
    
}
.mainContent:after {
    content: "";
    display: table;
    clear: both;
    /* prevents floots from interfering with thwe adjustments*/
}
.footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    margin-top: 20px;
}

.thumbNail{
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}
.content{
padding: 7px;
} 

.container footer{
    
    font-size: 1.5em;
    text-align: center;
    
}

@media screen and (max-width: 820px) {
    .logo {
        font-size: 1em;
     
    }
    .nav-links li:hover{
    
    background-color: skyblue;
}
    .nav-links li a {
        font-size: 0.9em;
       
    }
    .nav-links li {
        margin: 5px ;
        padding:0;
    }
    .col-3 {
        width: 50%;
        font-size: 1em;
        
        }
    .col-3 h2{
        width: 100%;
        font-size: 0.8em;
        
        }
    

 } 

 @media screen and (max-width: 550px) {
    .col{
        width: 100%;
        font-size: 1em;
    }

    .col h2 {
        width: 100%;
        font-size: 0.5em;
    } 
    .col-2 {
        width: 100%;
        font-size: 1em;
        
        }

    .col-2 h2 {
    width: 100%;
    font-size: 0.5em;
        }
    .col-3 {
        width: 100%;
        font-size: 1em;
        
        }

    .col-3 h2{
        width: 100%;
        font-size: 0.5em;
        
    }

    .col-4 {
        width: 100%;
        font-size: 0.8em;
        
        }

    body {
        background-color: pink;
    } 
    
    .barMenu{
        display: block;
    }
    .nav-links {
        display: none;
    }
    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 0 !important;
        font-size: 0.6em;
    

    background-color: black;
    }
    .navbar{
        width: 100%;
    }
    .logo {
        width: 100%;
        font-size: 0.9em;
        color: green;
        text-align: center;
        padding: 15px;
        margin:auto;
        background-color: hotpink;
    }
}